<!DOCTYPE html>

<html id="html">

<head>
<link rel="stylesheet" type="text/css" href="/Content/css/estilo1.css">
<link rel="stylesheet" type="text/css" href="/Content/css/chat.css">
<link rel="stylesheet" type="text/css" href="/Content/css/estilo.css">
<link rel="stylesheet" href="/Content/css/owl.carousel.css">
<link rel="stylesheet" href="/Content/css/bootstrap.min.css">
<link rel="stylesheet" href="/Content/css/style.css">
<link rel="stylesheet" href="/Content/css/ionicons.min.css">
<link rel="stylesheet" href="/Content/css/font-awesome.min.css">
<link rel="stylesheet" href="/Content/css/responsive.css">
<link href="css/style.css" rel="stylesheet">

<script src="/Scripts/vendor/jquery-1.10.2.min.js"></script>

<div class="chat_entry">
       <form name="chat_form" method="post" action="/chat" class="chat_form has-validation-callback" id="chat_form" >
        <p>
            <input type="text" data-validation="required" name="apelido" id="user_chat" class="user_chat" value="" placeholder="Nome">
            <input type="hidden" name="id" class="id" value="4919738359">
            <input type="hidden" name="web" class="web" value="webaddress/">
        </p>
        <p>
            <input type="text" data-validation="email" name="email_chat" id="email_chat" class="email_chat" placeholder="E-mail">
        </p>
        <p>
          <input type="text" data-validation="number" name="number_chat" id="number_chat" class="number_chat" placeholder="Numero">
        </p>
        <p style="text-align:left;">
            <input type="submit" name="chat_submit"  class="chat_submit" id="chat_submit" value="Iniciar Chat">
        </p>

  </div>
  <script type="text/javascript" src="/Scripts/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/Scripts/jquery.cycle.all.js"></script>
  <script src="/Scripts/chat.js"></script>
  <script type="text/javascript"></script>
</html>
